.table {
  margin: 0px 10px 25px;

  svg {
    color: #0097b2;
    transition: 0.4s all;

    &:hover {
      color: red;
    }
  }
}

.delete {
  svg {
    color: lightgray;
    transition: 0.4s all;

    &:hover {
      color: gray;
    }
  }
}

.tableTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 10px 0px;
}

.date {
  font-size: 1.2rem;
  color: #ffffff;
}

.tableFooter {
  margin: 100px 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
