.subtitle {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.dateWorkout {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;

  span {
    font-size: 1.2rem;
    color: #0097b2;
    font-weight: 600;
    margin-left: 5px;
  }
}

.emptyBox {
  min-height: 30vh;
}
