.tableTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;

  .subtitle {
    font-size: 1.2rem;
  }
}

.dateAndDelete {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
}

.table {
  margin: 0px 10px 20px 10px;

  .editableDiv {
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: start;
  }

  .inputContainer {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 75px;
    height: 26px;
  }
}
