.options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 15px 0px;

  button {
    border-radius: 25px;
    color: #ffffff;
    padding: 6px 10px;
    border: none;
    display: flex;
    align-items: center;
    font-weight: 800;
    transition:
      background-color 0.3s,
      transform 0.3s;
    box-shadow: 0 4px 8px rgba(80, 80, 80, 0.1);

    svg {
      margin-right: 5px;
      transition: transform 0.3s;
      font-size: 1.2rem;
    }
  }

  .editBtn {
    background-color: #4b4b4b;

    &:hover {
      background-color: #555555;
      transform: scale(1.05);

      svg {
        transform: rotate(20deg);
      }
    }
  }

  .star {
    background-color: #444444;
    color: rgb(251, 217, 27);

    transition:
      background-color 0.3s,
      color 0.3s,
      transform 0.3s;

    &:hover {
      background-color: rgb(201, 174, 23);
      color: #ffffff;
      transform: scale(1.03);
    }

    &.active {
      background-color: rgb(201, 174, 23);
      color: #ffffff;
    }

    @media (max-width: 768px) {
      transition:
        background-color 0s,
        color 0s,
        transform 0s;

      &:hover {
        background-color: #444444;
        color: rgb(251, 217, 27);
        transform: none;
      }

      &.active {
        background-color: rgb(201, 174, 23);
        color: #ffffff;
      }
    }
  }
}
