.options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 12px 0px;

  .star {
    &.active {
      background-image: linear-gradient(to right, #debf10, #b5ad1b) !important;
      color: #ffffff !important;
      border: none !important;
    }

    &:hover {
      background-image: linear-gradient(to right, #debf10, #b5ad1b) !important;
      color: #ffffff !important;
      border: none !important;
      background-color: transparent !important;
    }

    @media (max-width: 768px) {
      transition: none;

      &:hover {
        background-image: none !important;
        transform: none;
        background-color: none !important;
        border: 1px solid #ffffff !important;
      }

      &.active {
        background-image: linear-gradient(
          to right,
          #debf10,
          #b5ad1b
        ) !important;
        box-shadow: none !important;
        border: none !important;
      }
    }
  }

  .editExercise {
    background-image: linear-gradient(to right, #0097b2, #006a7d) !important;
    border: none;

    &:hover {
      color: #ffffff !important;
      border: none !important;
    }
  }
}
