.options {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 15px 0px;

  button {
    display: flex;
    align-items: center;
    transition:
      background-color 0.3s,
      transform 0.3s;
    height: 32px;
    text-transform: none;

    &:hover {
      svg {
        transform: rotate(20deg);
      }
    }
  }

  .star {
    transition:
      background-color 0.3s,
      color 0.3s,
      transform 0.3s;

    &.active {
      background-image: linear-gradient(to right, #aea721, #c4ab19);
    }

    @media (max-width: 768px) {
      transition:
        background-color 0s,
        color 0s,
        transform 0s;

      &:hover {
        transform: none;
      }

      &.active {
        background-image: linear-gradient(to right, #aea721, #c4ab19);
        color: #ffffff;
      }
    }
  }
}
