.collapse {
  width: 330px;
  background-image: linear-gradient(to bottom, #303030, #181818);
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;

  img {
    height: 26px;
    width: 26px;
  }

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  p {
    font-size: 1.2rem;
    letter-spacing: 1px;
    text-align: start;
    color: #0097b2;
    font-weight: 600;
  }

  svg {
    color: #ffffff;
    font-size: 1rem;
    margin-top: 7px;
    transition: color 0.3s ease;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: -5px 0px 15px -15px;
  font-size: 1.2rem;

  span {
    letter-spacing: 1px;
    color: rgb(209, 148, 35);
  }

  img {
    height: 40px;
    width: 40px;
  }
}

.result {
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;

  .hexagonWrapper {
    font-size: 1rem;
    span {
      font-size: 1rem;
    }

    img {
      height: 75px;
      width: 75px;
    }
  }
}
