.descriptionText {
  font-size: 1.4rem;
  margin: 40px 0px;

  @media (max-width: 768px) {
    font-size: 1.2rem !important;
  }
}

.start {
  text-align: start;
}

.center {
  text-align: center;
}

.end {
  text-align: end;
}
