.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 1100px;
  margin-bottom: 25px;
}

.block {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 992px) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.card {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.secondCard,
.fourthCard {
  align-items: flex-end;
}
