.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  background-color: #141414;
  border: none;
}

.card img {
  height: 200px;
  object-fit: cover;
  border-radius: 10px !important;
  box-shadow: 0px 0px 10px rgba(0, 151, 178, 0.3);
}

.cardText {
  color: #ffffff;
  font-size: 1rem;
  text-align: start;
}
