.wrapper {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0px 10px 0px;

  img {
    height: 44px;
    width: 44px;
    margin: 0px 10px 0px -10px;
  }

  .title {
    font-size: 1.2rem;
    letter-spacing: 1px;
    border-top: 1px solid rgb(152, 152, 152);
    padding-top: 5px;

    span {
      color: #0097b2;
      font-weight: 600;
      margin-left: 5px;
    }
  }
}
