.exercises {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 25px;

  .exercisesBox {
    min-height: 42px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-bottom: 20px;
    background-color: #282828;
    border-radius: 10px;
    padding: 5px;

    @media (max-width: 576px) {
      width: 330px;
    }

    .exerciseName {
      width: 35%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #0097b2;
      word-wrap: break-word;
      word-break: break-word;
      text-align: center;
      border-right: 1px solid #0097b2;
    }

    .exerciseResult {
      width: 65%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 10px;
      word-wrap: break-word;
      word-break: break-word;
      text-align: center;
    }
  }

  .deleteIcon {
    color: #0097b2;
    transition: 0.4s all;
    padding: 5px;

    &:hover {
      color: red;
    }
  }

  @media (max-width: 992px) {
    width: 100%;
    padding-top: 0px;
  }

  @media (max-width: 768px) {
    width: 100%;
    height: 375px;

    .exercisesBox {
      font-size: 1rem;
    }
  }
}
