$main-color: #0097b2;

.logo,
.navbar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;

  img {
    height: 55px;
  }

  .backToMainBtn {
    color: #ffffff;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;

    &:hover {
      filter: brightness(130%) !important;
    }

    &:active {
      color: #007f96 !important;
    }
  }

  .settings {
    display: flex;
    align-items: center;
    height: 100%;

    > div {
      margin-right: 12px;
    }
  }

  .verticalLine {
    width: 1px;
    height: 50%;
    background-color: #b2b2b2;
  }

  .settingsBtn {
    color: $main-color;
    text-transform: uppercase;
    margin: 0px 10px 0px 10px;

    &:hover {
      filter: brightness(130%) !important;
    }

    &:active {
      color: #007f96 !important;
    }
  }
}

.themeIcon {
  margin-right: 10px;
}

.burgerColor {
  background-color: #f3f3f3 !important;
}

.burgerBtn {
  margin-left: auto;
  background-color: $main-color;
  border: none;
}

.theme {
  font-size: 1.2rem;
}

.dropdownItem {
  font-size: 1.2rem;
}

.burgerItem {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menuButton {
  padding: 0;
  font-size: 16px;
  color: $main-color;
}

.burgerSettings {
  margin-right: 8px;
  font-weight: bold;
}

.settingsButton {
  font-size: 16px;
  color: $main-color;
}

@media (max-width: 1200px) {
  .logo img,
  .navigation img {
    height: 40px;
  }
}

.lngIcons {
  display: flex;
  align-items: center;
  justify-content: center;
}
