.customMessage {
  div {
    // background-image: linear-gradient(to right, #424242, #282828) !important;
    background-color: #424242 !important;
    color: #ffffff;
    letter-spacing: 0.5px;
    min-height: 24px;
    border-radius: 15px !important;
  }
}

.closeIcon {
  color: #0097b2;
  margin-left: 10px;
  font-size: 12px;
}
