.title {
  font-size: 1.4rem;
  margin: 40px 0px;
}

.cardTitle {
  white-space: normal !important;
}

.exercises {
  background-color: #282828;
  color: #ffffff;
  margin: 0px 10px;
}

.deleteIcon {
  margin: -15px -15px 0px -15px;
  display: flex;
  justify-content: end;
}

.favoriteIcon {
  margin-top: 10px;
  margin-bottom: -15px;
}

.delete {
  svg {
    color: lightgray;
    transition: 0.4s all;

    &:hover {
      color: gray;
    }
  }
}

.star {
  font-size: 1.4rem;
  color: grey;
  transition: color 0.3s;
}

.star:hover {
  color: gold;
  transform: scale(1.1);
}

.star.active {
  color: gold;
}
