.title {
  margin-top: 30px;
}

.description {
  font-size: 1.2rem;
  padding: 10px;
  margin: 5px;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  height: auto;
  margin-top: 10px;
}
