.title {
  font-size: 1.4rem;
  margin: 40px 0px;
}

.exercises {
  background-color: #282828;
  color: #ffffff;
  margin: 0px 10px;
}

.icons {
  margin: -15px -15px 0px -15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete {
  svg {
    color: #0097b2;
    transition: 0.4s all;

    &:hover {
      color: red;
    }
  }
}

.star {
  font-size: 1.4rem;
  color: grey;
  transition: color 0.3s;
}

.star:hover {
  color: gold;
  transform: scale(1.1);
}

.star.active {
  color: gold;
}
