.personalInformation {
  width: 50%;
  padding-top: 160px;
  height: 100%;

  div {
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 40px;
  }

  @media (max-width: 992px) {
    width: 100%;
  }

  @media (max-width: 768px) {
    margin-top: -50px;
  }
}

.userInfo {
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    list-style: none;
    text-align: start;
    padding: 0;

    @media (max-width: 768px) {
      font-size: 1.2rem;
    }
  }

  .icon {
    margin-right: 10px;
    color: #0097b2;
  }
}

.button {
  margin: 10px;
}
