.personalInformation {
  width: 100%;
  padding-top: 150px;
  font-size: 1.4rem;

  @media (max-width: 992px) {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .buttons {
      display: flex;
      flex-direction: column;
    }
  }

  @media (max-width: 768px) {
    margin-top: -50px;
  }
}

.userInfo {
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    list-style: none;
    text-align: start;

    @media (max-width: 768px) {
      font-size: 1.2rem;
    }
  }

  .icon {
    margin-right: 10px;
    color: #0097b2;
  }
}
