.profileContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 150px;
  letter-spacing: 1px;

  @media (max-width: 768px) {
    margin-top: -60px;
  }
}

.profileCard {
  background-image: linear-gradient(to bottom, #303030, #181818);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 25px;
  margin: 15px 0px;

  @media (max-width: 768px) {
    width: 100%;
    padding: 15px;
  }
}

.userInfo {
  .name {
    font-size: 1.6rem;
    font-weight: 600;
    color: #0097b2;
    margin-bottom: 10px;
  }

  .bio {
    font-size: 1rem;
    color: #a5a5a5;
    margin-bottom: 20px;
  }

  .userDetails {
    margin-left: 35px;

    .detailItem {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      font-size: 1.2rem;
      color: #fff;

      img {
        height: 28px;
        margin-right: 10px;
      }
    }
  }
}
