.wrapper {
  margin: 100px 0px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1200px) {
  .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .wrapper {
    margin: 50px 0;
  }
}
