.result {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  margin: 75px 0px 100px 0px;
}

.title {
  color: green;
}

.subTitle {
  color: #ffffff;
  font-size: 1.2rem;
}
