.avatar {
  position: absolute;
  left: 14%;
  top: 300px;
  z-index: 1 !important;
  background: rgb(103, 103, 103);
  border-radius: 50%;

  @media (max-width: 992px) {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;

    @media (max-width: 768px) {
      height: 150px;
      width: 150px;
    }
  }

  .settingIcon {
    position: absolute;
    top: 92%;
    right: 10%;
    transform: translate(-50%, -50%);
    border-radius: 50%;

    @media (max-width: 768px) {
      right: 0%;
    }

    &:hover {
      color: #0097b2 !important;
      border: 1px solid #0097b2 !important;
    }
  }
}

.avatarIcons {
  padding-right: 10px;
}
