.descriptionTitle {
  font-size: 3rem;
  color: #0097b2;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  padding: 20px;

  @media (max-width: 1200px) {
    font-size: 2.6rem;
  }

  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

.start {
  text-align: start;
}

.center {
  text-align: center;
}

.end {
  text-align: end;
}
