.wrapper {
  position: relative;
  overflow-y: hidden;
  height: 85vh;
}

.image {
  background-image: url("../../../../public/assets/Images/MainImage.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  background-attachment: fixed;

  @media (max-width: 992px) {
    background-attachment: unset;
  }
}

.title p {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  font-style: italic;
  letter-spacing: 3px;
  width: 100%;
  text-transform: uppercase;
}

.buttons {
  position: absolute;
  top: calc(50% + 75px);
  left: 50%;
  transform: translateX(-50%);

  .joinBtn {
    letter-spacing: 2px;

    &:hover {
      filter: brightness(110%);
      box-shadow: 0px 0px 5px #0097b2;
    }
  }

  .downloadImage {
    height: 50px;
    width: 150px;
    margin: 35px auto;

    div {
      font-size: 1rem;
    }

    img {
      margin-top: 5px;
    }
  }
}

@media (max-width: 992px) {
  .title p {
    top: 40%;
    font-size: 40px;
    line-height: 1.2;
  }

  .buttons {
    top: 57%;

    .downloadImage {
      height: 40px;
      width: 140px;
    }
  }
}

@media (max-width: 480px) {
  .title p {
    top: 40%;
    font-size: 40px;
    line-height: 1.2;
  }

  .buttons {
    top: 60%;

    .downloadImage {
      height: 40px;
      width: 140px;
    }
  }
}
