.exercises {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  order: 2;

  @media (max-width: 992px) {
    width: 100%;
  }

  @media (max-width: 768px) {
    order: 3;
  }
}

.starIcon {
  font-size: 24px;
  margin: -10px 0px 15px 0px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.filledStar {
  color: #cbb106;
}

.emptyStar {
  color: rgb(78, 78, 78);
}
