.mainContainer {
  position: relative;
}

.paper img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 151, 178, 0.3);
  height: 400px;
  object-fit: cover;
}

.avatar {
  position: absolute;
  left: 15%;
  top: 300px;

  img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 151, 178, 0.3);
  }
}

.infoContainer {
  width: 100%;
  display: flex;
}

.personalInformation {
  width: 50%;
  padding-top: 160px;
  cursor: default;

  div {
    width: 100%;
    font-size: 1.4rem;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 40px;
  }
}

.button {
  text-transform: uppercase;
  margin: 40px 20px;

  &:hover {
    filter: brightness(110%);
    box-shadow: 0px 0px 5px #0097b2;
  }
}

.exercises {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 80px;
  cursor: default;

  .exercisesBox {
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 151, 178, 0.3);
    margin: 15px 0px;

    .exerciseName {
      background-color: #282828;
      height: 100%;
      width: 35%;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .exerciseResult {
      background-color: #1a1a1a;
      height: 100%;
      width: 65%;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.diaryWrapper {
  margin-top: 75px;
}

.hexagonWrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 50px;

  a {
    border-radius: 50%;
  }
}

.info {
  font-size: 1.4rem;
}

.link {
  cursor: pointer !important;
}

.calcWrapper {
  margin: 75px 0px;
  height: 500px;
}
.calc {
  height: 200px;
  background-color: #282828;
  border-radius: 25px;
  margin-top: 50px;
}

@media (max-width: 992px) {
  .avatar {
    left: 35%;
    top: 225px;
  }

  .infoContainer {
    flex-direction: column;
  }

  .personalInformation {
    width: 100%;
  }
  .exercises {
    width: 100%;
    padding-top: 0px;
  }
}

@media (max-width: 768px) {
  .paper img {
    height: 200px;
  }

  .avatar {
    left: 25%;
    top: 150px;

    img {
      height: 200px;
      width: 200px;
    }
  }

  .personalInformation {
    width: 100%;
    margin-top: 20px;

    div {
      width: 100%;
      font-size: 1.1rem;
      font-weight: 500;
      letter-spacing: 1px;
      line-height: 30px;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .exercises {
    width: 100%;

    .exercisesBox {
      font-size: 1rem;
    }
  }
}
