.collapse {
  width: 320px;
  background-color: #1a1a1a !important;
  border-radius: 15px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;

  img {
    height: 26px;
    width: 26px;
  }

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  p {
    font-size: 1.2rem;
    text-align: start;
    color: #0097b2;
  }

  svg {
    color: #ffffff;
    font-size: 1rem;
    margin-top: 7px;
    transition: color 0.3s ease;
  }
}

.result {
  margin: -5px 0px;
  font-size: 1.1rem;
  color: rgb(209, 148, 35);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
