.cardItem {
  width: calc(33.33% - 10px);
  background: linear-gradient(145deg, #2d2d2d, #252525);
  border-radius: 16px;
  box-shadow:
    0 6px 12px rgba(0, 0, 0, 0.3),
    0 1px 3px rgba(255, 255, 255, 0.05);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &.active {
    border: 1px solid #0097b2;
    box-shadow:
      0 8px 16px rgba(0, 0, 0, 0.5),
      0 2px 5px rgba(255, 255, 255, 0.1);
    background: linear-gradient(145deg, #383838, #2f2f2f);
  }

  &:hover {
    transform: translateY(-8px);
    box-shadow:
      0 14px 28px rgba(0, 0, 0, 0.4),
      0 4px 10px rgba(255, 255, 255, 0.1);
    background: linear-gradient(145deg, #434343, #353535);
  }

  &:active {
    transform: translateY(-3px);
    box-shadow:
      0 6px 12px rgba(0, 0, 0, 0.4),
      0 2px 4px rgba(255, 255, 255, 0.1);
    background: linear-gradient(145deg, #292929, #232323);
  }

  @media (max-width: 992px) {
    width: calc(50% - 20px);
  }

  @media (max-width: 768px) {
    width: calc(100% - 20px);

    &:hover {
      transform: none;
      box-shadow: none;
    }

    &:active {
      transform: none;
      box-shadow: none;
    }
  }

  .exerciseContainer {
    border-bottom: 1px solid #646464;
    margin: 0px 30px;
    padding-bottom: 5px;

    .exerciseName {
      font-size: 1.05rem;
    }
  }
}
