.cardItem {
  width: calc(33.33% - 10px);
  background-image: linear-gradient(to bottom, #282828, #151515);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(80, 80, 80, 0.2);
  transition:
    transform 0.4s,
    box-shadow 0.4s,
    background-color 0.4s;

  &.active {
    border: 1px solid rgb(165, 165, 165);
    box-shadow: 0 4px 8px rgba(80, 80, 80, 0.4);
    background-image: linear-gradient(to bottom, #404040, #333333);
  }

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to bottom, #3e3e3e, #2d2d2d);
  }

  &:active {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to bottom, #2d2d2d, #242424);
  }

  @media (max-width: 992px) {
    width: calc(50% - 20px);
  }

  @media (max-width: 768px) {
    width: calc(100% - 20px);

    &:hover {
      transform: none;
      box-shadow: none;
    }

    &:active {
      transform: none;
      box-shadow: none;
    }
  }

  .exerciseContainer {
    border-bottom: 1px solid #535353;
    margin: 0px 40px;
    padding-bottom: 5px;

    .exerciseName {
      font-size: 1.05rem;
    }
  }
}
