.cardItem {
  width: calc(33.33% - 10px);
  background-color: #282828;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(80, 80, 80, 0.2);
  transition:
    transform 0.3s,
    box-shadow 0.3s,
    background-color 0.3s;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: #333333;
  }

  &:active {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    background-color: #1e1e1e;
  }

  @media (max-width: 992px) {
    width: calc(50% - 10px);
  }

  @media (max-width: 768px) {
    width: calc(100% - 10px);
    &:hover {
      transform: none;
      box-shadow: none;
      background-color: #282828;
    }

    &:active {
      transform: none;
      box-shadow: none;
      background-color: #282828;
    }
  }

  .exerciseContainer {
    border-bottom: 1px solid #535353;
    margin: 0px 20px;
    padding-bottom: 10px;

    .exerciseName {
      font-size: 1.1rem;
    }
  }
}

.inputContainer {
  height: 50px;
  margin: 25px;
  text-align: center;
}

.editInput {
  border: none;
  color: #ffffff;
  background-color: transparent;
  border-bottom: 1px solid #ffffff;
  transition: all 0.3s ease;
  border-radius: 0px;
  height: 28px;

  &:focus {
    outline: none;
  }
}
