.container {
  padding: 0px 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5px 0px;
  width: 100%;

  .mask {
    font-size: 1rem;
    > span {
      margin: 0px 3px;
    }
  }

  .maskClass {
    border-radius: 10px;
  }

  img {
    width: 400px !important;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 151, 178, 0.3);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.info {
  max-width: 500px;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 10px;
  text-align: right;

  .title {
    font-size: 1.8rem;
    color: #0097b2;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;

    @media (max-width: 768px) {
      font-size: 1.4rem;
    }
  }

  .description {
    padding: 10px;
  }

  @media (max-width: 992px) {
    text-align: center;
  }
}

.reverse {
  flex-direction: row-reverse;

  .info {
    text-align: left;

    @media (max-width: 992px) {
      text-align: center;
    }
  }
}
