.title {
  margin-top: 50px;
}

.favoriteExercises {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  .usedItem {
    margin: 20px;
    background-color: #282828;
    color: #ffffff !important;
    width: 160px;
    display: flex;
    flex-direction: column;

    &:hover {
      filter: brightness(120%);
    }

    &:active {
      filter: brightness(80%);
    }
  }
}

.deleteIcon {
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px 8px 0px 0px;
  transition: 0.4s all;

  &:hover {
    color: red;
  }
}

.editIcon {
  font-size: 1.2rem;
  margin: 0px 8px 0px 0px;
  position: absolute;
  bottom: 0;
  right: 0;
  transition: 0.4s all;

  &:hover {
    color: #0097b2;
  }

  &:active {
    color: #007f96;
  }
}
