.title {
  margin-top: 40px;
}

.info {
  font-size: 1.4rem;
  margin: 15px;
}

.favoriteExercises {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  .usedItem {
    margin: 15px;
    background-color: #282828;
    color: #ffffff !important;
    width: 200px;
    display: flex;
    flex-direction: column;

    &:hover {
      filter: brightness(120%);
    }

    &:active {
      filter: brightness(90%);
    }

    @media (max-width: 480px) {
      width: 160px;
    }
  }
}

.deleteIcon {
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  transition: 0.4s all;

  &:hover {
    color: red;
  }
}
