.calculator {
  min-height: 175px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @media (max-width: 576px) {
    flex-direction: column;
  }

  .subtitle {
    font-size: 1.2rem;
    margin: 10px 0px;

    @media (max-width: 576px) {
      margin-top: 15px;
    }
  }

  input {
    text-align: center;
  }

  .block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .weight,
  .reps {
    height: 46px;
    width: 200px;
    border-radius: 20px;
    background-color: #282828;
    color: #ffffff;
    font-size: 1.2rem;
    padding: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;

    ::placeholder {
      color: #818181;
      text-align: center;
    }

    svg {
      color: #ffffff;
    }

    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }
  }

  .reps {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .repsNumber {
      width: 40px;
    }
  }

  .plusMinus {
    width: 28px;
    height: 28px;
    border-radius: 10px;

    &:hover {
      box-shadow: 0px 0px 5px #0097b2;

      svg {
        color: #0097b2 !important;
      }
    }
  }

  .calculateWrapper {
    width: 190px;
  }

  .calculate {
    margin-top: 50px;

    @media (max-width: 576px) {
      margin-bottom: 15px;
    }
  }
}
