.deleteWorkout {
  margin-bottom: 50px;
  margin-top: -25px;
}

.confirm {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 25px;
  color: #ffffff !important;
}

.deleteBtn {
  text-align: center;
}
