$marginTop: 20px;

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  .logo {
    display: flex;
    flex-direction: column;
    margin-top: $marginTop;
    align-items: center;
    justify-content: center;

    > img {
      margin-top: $marginTop;
    }

    .logoDescription {
      text-align: center;
      font-size: 1rem;
      margin-top: $marginTop;
      font-weight: bold;
      cursor: default;
    }
  }

  @media (max-width: 768px) {
    .main {
      flex-direction: column;
    }

    .logo {
      width: 100%;
      align-items: center;
      order: 3;
    }
  }
}
