$alignCenter: center;
$justifySpaceAround: space-around;
$flexWrap: wrap;
$colorPrimary: #0097b2;
$fontWeightBold: bold;
$fontSizeMedium: 1.2rem;
$marginTop: 20px;
$transitionDuration: 0.4s;

.main {
  display: flex;
  align-items: $alignCenter;
  justify-content: $justifySpaceAround;
  flex-wrap: $flexWrap;
  margin-top: 30px;

  .contacts,
  .logo,
  .socialMedia {
    display: flex;
    flex-direction: column;
    align-items: $alignCenter;
    justify-content: $alignCenter;
    align-self: flex-start;
    margin-top: $marginTop;

    .contactsTitle,
    .socialMediaTitle {
      color: $colorPrimary;
      font-weight: $fontWeightBold;
      font-size: 1.4rem;
      cursor: default;
    }

    .contactsItem,
    .socialMediaItem {
      margin-top: 10px;
      font-size: $fontSizeMedium;
      cursor: pointer;
      position: relative;
      transition: all $transitionDuration;

      &:hover {
        filter: brightness(130%);
        color: $colorPrimary;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 1px;
        background-color: $colorPrimary;
        transition: width $transitionDuration;
        right: 0;
        bottom: 0;
        z-index: -1;
      }

      &:hover::after {
        width: 100%;
        left: 0;
      }
    }

    .logoDescription {
      text-align: center;
      font-size: 1rem;
      margin-top: 10px;
      font-weight: $fontWeightBold;
      cursor: default;
    }
  }

  @media (max-width: 768px) {
    .main {
      flex-direction: column;
    }

    .contacts,
    .logo,
    .socialMedia {
      width: 100%;
    }

    .logo {
      align-self: center;
      order: 3;
    }
  }
}
