.header {
  margin: 75px 15px 0px 15px;
}

.info {
  font-size: 1.2rem;
  margin: 15px 0px;
}

.container {
  background-color: #1a1a1a;
  border-radius: 20px;
  margin: 50px 0px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.result {
  font-size: 1.4rem;
  margin: 10px 0px;
}

.resultWeight {
  font-size: 1.8rem;
  background-color: #282828;
  display: flex;
  justify-content: center;
}
