.calcWrapper {
  margin: 75px 0px;

  .container {
    background-color: #1a1a1a;
    border-radius: 25px;
  }

  .calculator {
    min-height: 175px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    .weight,
    .reps {
      height: 55px;
      width: 225px;
      border-radius: 20px;
      background-color: #282828;
      color: #ffffff;
      font-size: 1.2rem;
      padding: 15px;
      border: none;
      svg {
        color: #ffffff;
      }

      @media (max-width: 576px) {
        margin-top: 25px;
      }
    }

    .reps {
      display: flex;
      align-items: center;
      justify-content: space-around;

      .repsNumber {
        width: 40px;
      }
    }

    .minus,
    .plus {
      background-color: #0097b2;
      width: 35px;
      height: 35px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      color: #ffffff;

      &:hover {
        box-shadow: 0px 0px 5px #0097b2;
      }

      &:active {
        background-color: #007f96;
      }
    }

    .calculate {
      height: 55px;
      width: 200px;

      @media (max-width: 576px) {
        margin-top: 50px;
        margin-bottom: 25px;
      }
    }
  }

  .info {
    font-size: 1.4rem;
  }

  .result {
    font-size: 1.4rem;
    letter-spacing: 1px;
    background-color: #282828;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
  }
}
