.collapse {
  width: 100%;
  background-image: linear-gradient(to bottom, #303030, #181818);
  margin-bottom: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
  text-align: start;

  p {
    font-size: 1rem;
    color: #ffffff;
    font-weight: 600;

    span {
      font-size: 1.2rem;
      color: #0097b2;
      font-weight: 600;
    }
  }

  svg {
    color: #ffffff;
    font-size: 1rem;
    margin-top: 10px;
    transition: color 0.3s ease;
  }
}

.historyWorkout {
  font-size: 1rem;
  letter-spacing: 1px;
  color: #ffffff;
  width: 100%;

  table {
    width: 100%;
    border-collapse: collapse;

    th {
      border-bottom: 1px solid #535353;
      font-weight: 600;
    }

    td {
      width: 75px;
      text-align: center;
      padding: 5px;
    }
    tr:not(:last-child) {
      border-bottom: 1px solid #353535;
    }
  }
}
