.dateField {
  border: 1px solid #0097b2;
  width: 260px;
  border-radius: 15px;
  height: 40px;
  border-color: #0097b2 !important;

  &:hover {
    box-shadow: 0px 0px 5px #0097b2;
    border: 1px solid #0097b2;
    background-color: #1e1e1e;
  }

  svg {
    color: #ffffff;
  }
}
