.btn {
  background-color: transparent;
  border-radius: 20px;
  margin-top: 10px;
  color: #ffffff;
  box-shadow: 0 3px 10px rgba(203, 203, 203, 0.2);

  svg {
    font-size: 1rem;
    transition: all 0.3s !important;
  }

  &:hover {
    color: #ffffff !important;
    background-color: transparent !important;
    border: 1px solid #0097b2 !important;

    svg {
      transform: rotate(30deg);

      @media (max-width: 768px) {
        transform: none;
      }
    }
  }

  @media (max-width: 992px) {
    &:hover {
      border: 1px solid #ffffff !important;
    }
  }
}
