.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 70px 0px;

  .signInBtn {
    letter-spacing: 2px;
    margin: 40px 0px;
  }
}

.options {
  display: flex;
  gap: 10px;

  .notRegistered {
    font-size: 1rem;
    color: #ffffff;
  }
}

.checkboxRemember {
  color: #ffffff;
  font-size: 1rem;
}

.importantOption {
  font-size: 1rem;
  color: #0097b2;

  &:hover {
    filter: brightness(130%) !important;
  }
}
