.input {
  border: none;
  color: #ffffff;
  background-color: transparent;
  border-bottom: 1px solid #ffffff;
  width: 100px;
  transition: all 0.3s ease;
  border-radius: 0px;
  height: 28px;

  &:focus {
    outline: none;
  }
}
