.reset {
  background-image: linear-gradient(to right, #ff6347, #ff4500);
  color: #ffffff;
  border-radius: 20px;
  transition: all 0.4s ease;
  text-transform: uppercase;
  box-shadow: 0 3px 10px rgba(255, 99, 71, 0.4) !important;
  font-size: 16px;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
  letter-spacing: 1px;
  height: 40px;

  &:hover {
    color: #ff6347 !important;
    background-color: #ffffff !important;
    transform: scale(1.03);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 99, 71, 0.5);
  }

  &:active {
    transform: scale(0.97);
  }

  @media (max-width: 768px) {
    transition: all 0s ease;

    &:hover {
      color: #ffffff !important;
      background-image: linear-gradient(to right, #ff6347, #ff4500) !important;
      transform: none;
    }

    &:focus {
      box-shadow: none;
    }

    &:active {
      transform: none;
    }
  }
}
