.physique {
  width: 100%;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
    width: 100%;
    letter-spacing: 1px;

    .hexagonTitle {
      font-size: 1.2rem;
      font-weight: 500;
    }

    span {
      font-size: 1rem;
    }

    img {
      height: 100px;
      width: 100px;
    }
  }
}

.editWrapper {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: -20px;
  font-size: 1.2rem;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 768px) {
    height: 150px;
    flex-direction: column;
  }

  input {
    font-size: 1.2rem;
    text-align: center;
    width: 65px;
    margin: 0px 10px;
  }
}
