.physique {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 75px;
    width: 100%;
    letter-spacing: 1px;

    .hexagonTitle {
      font-size: 1rem;
      font-weight: 500;
    }

    .hexagonContainer {
      height: 150px;
      display: flex;
      align-items: center;

      .hexagon {
        font-size: 1.2rem;
      }
    }

    img {
      height: 100px;
      width: 100px;
    }
  }
}

.editWrapper {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  .editTitle {
    font-size: 1.2rem;
    margin-right: 15px;
  }

  input {
    font-size: 1.2rem;
    text-align: center;
  }
}

.saveBtn {
  margin-top: -10px;
}
