.inputWrapper {
  width: 260px;
  margin-bottom: 20px;
}

.confirmInputWrapper {
  width: 260px;
  margin-bottom: 20px;
  height: 200px;
}

.inputLabel {
  text-align: start;
  font-size: 1.2rem;
  color: #ffffff;
}

.inputField {
  background-color: transparent !important;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #0097b2;
  color: #ffffff;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;

  &:hover {
    border-bottom: 1px solid #0097b2;
  }

  &:focus-within {
    box-shadow: none;
    border-bottom: 1px solid #0097b2;
  }
}

.passwordRule {
  font-size: 0.8rem;
  letter-spacing: 0.2px;
}

::placeholder {
  color: #818181 !important;
}
