.inputWrapper {
  width: 270px;
  margin-bottom: 20px;

  .inputLabel {
    text-align: start;
    font-size: 1.2rem;
    cursor: default;
    color: #ffffff;
  }

  .inputField {
    margin: 3px 0px;
    background-color: #141414;
    border: 1px solid #0097b2;
    color: rgb(167, 167, 167);
    height: 40px;
    border-radius: 10px;

    &:focus-within {
      box-shadow: 0 0 10px #0097b2;
    }
  }

  ::placeholder {
    color: #818181 !important;
  }
}
