.inputWrapper {
  width: 270px;
  margin-bottom: 20px;
}

.confirmInputWrapper {
  width: 270px;
  margin-bottom: 20px;
  height: 200px;
}

.inputLabel {
  text-align: start;
  font-size: 1.2rem;
  color: #ffffff;
}

.inputField {
  margin: 3px 0px;
  background-color: #141414 !important;
  border: 1px solid #0097b2;
  color: rgb(167, 167, 167);
  height: 40px;
  border-radius: 10px;

  &:hover {
    border: 1px solid #0097b2;
  }

  &:focus-within {
    box-shadow: 0 0 10px #0097b2;
  }
}

::placeholder {
  color: #818181 !important;
}
