.container {
  background-image: linear-gradient(to top, #141414, #202020);
  padding: 10px;
  margin-top: 50px;
  box-shadow:
    inset 8px 0 8px -6px rgba(0, 0, 0, 0.2),
    inset -8px 0 8px -6px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
}
