.container {
  background-image: linear-gradient(to top, #141414, #202020);
  padding: 10px;
  margin-top: 50px;
  box-shadow:
    inset 8px 0 8px -6px rgba(0, 0, 0, 0.2),
    inset -8px 0 8px -6px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
}

.details {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.weightInfo,
.dateInfo {
  flex: 1;
}

.infoBox {
  margin-bottom: 25px;
}

.label {
  font-weight: 500;
  display: block;
  font-size: 1rem;
}

.value {
  font-size: 1.1rem;
  font-weight: 600;
  color: #0097b2;
}

.progressText {
  font-size: 1.1rem;
  margin-top: 10px;
  font-weight: 500;
  border-top: 1px solid gray;
  min-width: 175px;

  .progressValue {
    color: #0097b2;
    font-weight: 600;
  }
}

.trackerBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 25px;
}

.progressBar span {
  color: #ffffff !important;
}

.progressBar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (max-width: 480px) {
    max-width: 130px;
  }
}

.editTitle {
  margin: 30px 0px;
  color: #0097b2;
  font-weight: 600;
  text-align: center;
  font-size: 1.2rem;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputLabel {
  text-align: start;
  font-size: 1.2rem;
  color: #ffffff;
}

.updateBtn {
  margin: 30px 0px;
}

.startBlock {
  margin-bottom: 20px;
}

.numericInputBlock {
  color: #ffffff;
  font-size: 1.2rem;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
}

.numericInput {
  border-bottom: 1px solid #0097b2 !important;
  height: 40px;
  margin-bottom: 5px;
  width: 260px;
  padding: 4px 11px;
  font-size: 1rem;
}

.actionButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 25px;
}
