.title {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 25px;
  color: #ffffff !important;
}

.buttons {
  margin: 30px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
