.recentlyUsed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
  margin-bottom: 50px;

  .usedItem {
    margin: 20px;
    background-color: #282828;
    color: #ffffff !important;
    width: 160px;
    display: flex;
    flex-direction: column;

    &:hover {
      filter: brightness(120%);
    }

    &:active {
      filter: brightness(80%);
    }
  }
}
.deleteIcon {
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;

  &:hover {
    color: red;
  }
}
