.socialMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: flex-start;

  > a img:hover {
    transition: 0.3s all;
    filter: brightness(110%);
    transform: scale(1.05);
  }
}
