.inputWrapper {
  width: 260px;

  .inputLabel {
    text-align: start;
    font-size: 1.2rem;
    color: #ffffff;
    width: 270px;
  }

  .inputField {
    background-color: #141414 !important;
    border: 1px solid #0097b2;
    color: #ffffff;
    height: 40px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;

    // background-color: transparent !important;
    // border: none;
    // border-radius: 0px;
    // border-bottom: 1px solid #0097b2;
    // color: #ffffff;
    // height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;

    &:hover {
      box-shadow: 0px 0px 5px #0097b2;
      border: 1px solid #0097b2;
      background-color: #1e1e1e !important;
    }

    &:focus-within {
      box-shadow: 0 0 5px #0097b2;
    }

    svg {
      color: #5f5f5f;
    }
  }

  ::placeholder {
    color: #818181 !important;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
}
