.inputWrapper {
  width: 270px;
  margin-bottom: 20px;

  .inputLabel {
    text-align: start;
    font-size: 1.2rem;
    padding: 0px 10px;
    cursor: default;
  }

  .inputField {
    margin: 3px 0px;
    background-color: #141414;
    border: 1px solid #0097b2;
    color: #ffffff;
    height: 40px;
    border-radius: 10px;

    &:focus {
      box-shadow: 0 0 10px #0097b2;
    }
  }
}
