.mainContainer {
  position: relative;
  height: 100%;
}

.infoContainer {
  display: flex;
  margin-bottom: 15px;
  background-image: linear-gradient(to bottom, #202020, #141414);
  box-shadow:
    inset 8px 0 8px -6px rgba(0, 0, 0, 0.2),
    inset -8px 0 8px -6px rgba(0, 0, 0, 0.2);

  @media (max-width: 992px) {
    flex-direction: column;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-self: center;
  flex-wrap: wrap;
  margin: 20px 25px;

  @media (max-width: 576px) {
    justify-content: space-around;
  }
}

.sceleton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
