.mainContainer {
  position: relative;
  height: 100%;
}

.infoContainer {
  display: flex;
  margin-bottom: 15px;
  background-image: linear-gradient(to bottom, #262626, #141414);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  @media (max-width: 992px) {
    flex-direction: column;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-self: center;
  flex-wrap: wrap;
  margin: 0px 25px;

  @media (max-width: 576px) {
    justify-content: space-around;
  }
}
