.collapse {
  margin: 0px 10px 25px 10px;
  background-image: linear-gradient(to bottom, #303030, #181818);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

  img {
    height: 34px;
    width: 34px;
  }

  .title {
    font-size: 1.2rem;
    text-align: start;
    color: rgb(209, 148, 35);
    font-weight: 500;
  }

  svg {
    color: #ffffff;
    font-size: 1rem;
    margin-top: 8px !important;
    transition: color 0.3s ease;
  }

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: -5px;
    border-top: 1px solid #535353;

    .hexagonTitle {
      font-size: 1rem;
      color: #ffffff;
      font-weight: 500;
      letter-spacing: 1px;
      margin-top: 15px;
    }

    .hexagonContainer {
      height: 75px;
      width: 75px;
      display: flex;
      align-items: center;

      .hexagon {
        font-size: 1.2rem;
      }
    }

    span {
      color: #ffffff;
      font-size: 1.2rem;
    }
  }
  .numericInput {
    margin-top: 15px;
  }

  input {
    text-align: center;
    font-size: 1.4rem;
    height: 30px;
  }

  .saveRecord {
    margin-top: 15px;

    svg {
      margin-bottom: 7px;
    }
  }
}
