.footerImg {
  position: relative;
  overflow-y: hidden;
  height: 60vh;

  .image {
    background-image: url("../../../../public/assets/Images/FooterImg.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    background-attachment: fixed;

    @media (max-width: 992px) {
      background-attachment: unset;
    }
  }

  .footerTitle {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);

    h2 {
      font-style: italic;
    }

    @media (max-width: 992px) {
      font-size: 30px;
      line-height: 1.3;
      left: 50%;
    }
  }
}
