.addExercise {
  display: flex;
  margin: 50px 20px;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  .inputLabel {
    font-size: 1.2rem;
    color: #ffffff;
  }
}
