.contacts {
  display: flex;
  flex-direction: column;
  align-items: start;

  .contactsItem {
    margin-top: 10px;
    font-size: 1.2rem;
    position: relative;
    transition: all 0.4s;

    > a {
      color: #ffffff !important;
    }

    &:hover {
      filter: brightness(130%);
      transform: translateY(0);
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 0;
      height: 1px;
      background-color: #ffffff;
      transition: width 0.4s;
      right: 0;
      bottom: 0;
      z-index: -1;
    }

    &:hover::after {
      width: 100%;
      left: 0;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    align-items: center;
  }
}
