.subTitle {
  font-size: 1.6rem;
  color: #0097b2;
  letter-spacing: 1px;
  cursor: default;
  font-weight: 600;
  margin: 50px 0px;
}

.registrationFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 250px;
  width: 250px;
  margin: 50px 0px;
  box-shadow: 0px 0px 10px rgba(0, 151, 178, 0.3);
  border-radius: 50%;

  > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}

.upload {
  margin: 25px 0px;
  &:hover {
    filter: brightness(110%);
  }
}

.personalInfo {
  margin: 50px 0px;
  .personalInfoOptions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.inputLabel {
  text-align: start;
  font-size: 1.2rem;
  cursor: default;
  color: #ffffff;
}

.selectField {
  margin: 3px 0px;
  background-color: #141414;
  color: #ffffff;
  height: 40px;
  text-align: start;
  border-radius: 10px;
  border: 1px solid #0097b2;

  &:hover {
    box-shadow: 0px 0px 10px #0097b2;
    background-color: #141414;
  }

  svg {
    color: #ffffff;
  }
}

.dateField {
  border: 1px solid #0097b2;
  width: 270px;
  border-radius: 10px;
  height: 40px;
  background-color: #141414 !important;
  border-color: #0097b2 !important;
  color: #ffffff !important;

  ::placeholder {
    color: #818181 !important;
  }

  &:hover {
    box-shadow: 0px 0px 10px #0097b2;
    border: 1px solid #0097b2;
    background-color: #141414;
  }

  svg {
    color: #ffffff;
  }
}

.address {
  .addressOptions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.reset {
  color: #ffffff;
  font-size: 1.2rem;
}

.signUpBtn {
  margin: 75px 0px;
  letter-spacing: 2px;

  &:hover {
    filter: brightness(110%);
    box-shadow: 0px 0px 5px #0097b2;
  }
}
