.registrationFlex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 576px) {
    flex-direction: column;
  }

  .info {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;

  @media (max-width: 576px) {
    order: 1;
    width: 100%;
    margin-top: 25px;
  }

  > img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
  }

  .avatarFormat {
    color: #ffffff;
    font-size: 0.8rem;
    margin-top: 10px;
  }
}

.upload {
  margin-top: 25px;
}

.personalInfo {
  margin-top: 40px;
}

.personalInfoOptions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.inputLabel {
  text-align: start;
  font-size: 1.2rem;
  color: #ffffff;
}

.selectField {
  margin: 3px 0px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  border-bottom: 1px solid #0097b2;

  svg {
    color: #5f5f5f;
  }
}

.addressOptions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.signUpBtn {
  margin: 25px 0px;
  letter-spacing: 2px;
}
