.registrationFlex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 576px) {
    flex-direction: column;
  }

  .info {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .subTitle {
      width: 275px;
    }
  }
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 50%;

  @media (max-width: 576px) {
    order: 1;
    margin-left: -50px;
  }

  > img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
  }

  .avatarFormat {
    color: #ffffff;
    font-size: 0.8rem;
    letter-spacing: 0.2px;
    margin-top: 10px;
  }
}

.upload {
  margin-top: 25px;

  &:hover {
    filter: brightness(110%);
  }
}
.personalInfo {
  margin-top: 50px;
}

.personalInfoOptions {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.inputLabel {
  text-align: start;
  font-size: 1.2rem;
  color: #ffffff;
}

.selectField {
  margin: 3px 0px;
  height: 40px;
  text-align: start;
  border-radius: 10px;
  border: 1px solid #0097b2;
  width: 270px !important;

  &:hover {
    box-shadow: 0px 0px 5px #0097b2;
    background-color: #141414;
  }

  svg {
    color: #ffffff;
  }
}

.address {
  .addressOptions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.reset {
  color: #ffffff;
  font-size: 1.2rem;
  color: rgb(255, 62, 62);

  &:hover {
    color: rgb(255, 6, 6) !important;
  }

  &:active {
    color: rgb(188, 31, 31) !important;
  }
}

.signUpBtn {
  margin: 25px 0px;
  letter-spacing: 2px;
}
