.card {
  text-align: center;
  border-radius: 12px;
  margin: 0px 5px;
  border: 1px solid transparent;
  background-image: linear-gradient(to bottom, #303030, #181818);
  letter-spacing: 1px;
  height: 100%;
}

.active {
  border: 1px solid #0097b2;
}

.iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 60px;
  width: 60px;
}

.icon {
  font-size: 40px;
  color: #0097b2;
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
  color: #0097b2;
  padding-top: 5px;
}

.description {
  font-size: 1rem;
  color: #fff;
}
