.inputLabel {
  text-align: start;
  font-size: 1.2rem;
  color: #ffffff;
}

.selectField {
  width: 260px !important;
  border-bottom: 1px solid #0097b2;
  background-color: transparent;
  color: #ffffff;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: start;
  margin-bottom: 5px;

  svg {
    color: #5f5f5f;
  }
}

.errorSelect {
  border: 1px solid #ff4d4f !important;
}
