.deleteIconContainer {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;

  .exerciseNumber {
    margin: 5px 0px 0px 20px;
  }

  .deleteIcon {
    margin: 5px 20px 0px 0px;

    svg {
      color: lightgray;
      transition: 0.4s all;

      &:hover {
        color: gray;
      }
    }
  }
}

.confirm {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 25px;
  color: #ffffff !important;
}

.deleteSave {
  text-align: center;
}
