*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Общие стили для scrollbar */
::-webkit-scrollbar {
  width: 1px; /* Ширина полосы прокрутки */
}

/* Кнопка для скролла вверх */
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: none; /* Скрыть кнопки */
}

/* Фон scrollbar */
::-webkit-scrollbar-track {
  background-color: #141414; /* Цвет фона */
  border-radius: 0px; /* Скругление углов */
}

/* Кнопка ползунка scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #0097b2; /* Цвет кнопки */
  border-radius: 15px; /* Скругление углов */
}

/* Hover эффект на scrollbar */
::-webkit-scrollbar-thumb:hover {
  background-color: #888; /* Цвет при наведении */
}

* {
  cursor: url("../../public/assets/cursorDefault.png"), auto !important;
}

/* Убирает стрелочки в Chrome, Safari, Edge и Opera */
::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
